<div class="card">
    <div class="card-status-top bg-purple"></div>
    <div class="card-header">
        <h3 class="card-title">Equipamentos</h3>
    </div>

    <!-- /.box-header -->
    <div class="card-body">


        <table class="table table-hover table-striped">
            {% for equipamentos in manyequipamentos %}
                <tr>
                    <td>
                        <a href="{{ path('cadastro_equipamento_show', {'id': equipamentos.equipamentoFilho.id }) }}" 
                           class="btn btn-{{ button_color }} btn-sm"
                           title="Ir para equipamento">
                            <i class="ti ti-search"></i>
                        </a>
                    </td>
                    <th>
                        {{ equipamentos.equipamentoFilho.tipoequipamento.descricao }}
                    </th>
                    <td>
                        {{ equipamentos.equipamentoFilho.descricao }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <table class="table table-hover table-striped">
            {% for filho in equipamentosFilho %}
                <tr>
                    <td>
                        <a href="{{ path('cadastro_equipamento_show', {'id': filho.equipamentoPai.id }) }}"
                           class="btn btn-{{ button_color }} btn-sm"
                           title="Ir para equipamento">
                            <i class="ti ti-search"></i>
                        </a>
                    </td>
                    <th>
                        {{ filho.equipamentoPai.tipoequipamento.descricao }}
                    </th>
                    <td>
                        {{ filho.equipamentoPai.descricao }}
                    </td>
                </tr>
            {% endfor %}
        </table>


    </div>
    <!-- /.box-body -->
</div>


<div class="card">
    <div class="card-status-top bg-purple"></div>
    <div class="card-header">
        <h3 class="card-title">Componentes</h3>
        <!-- /.box-tools -->
    </div>

    <!-- /.box-header -->
    <div class="card-body">


        <table class="table table-hover table-striped">
            {% for componente in componentes %}
                <tr>
                    <th>
                        {{ componente.componente.tipocomponente.descricao }}
                    </th>
                    <td>
                        {{ componente.componente.descricao }}
                    </td>
                </tr>
            {% endfor %}
        </table>


    </div>
    <!-- /.box-body -->
</div>



<div class="card">
    <div class="card-status-top bg-purple"></div>
    <div class="card-header">
        <h3 class="card-title">Softwares</h3>
        <!-- /.box-tools -->
    </div>

    <!-- /.box-header -->
    <div class="card-body">


        <table class="table table-hover table-striped">
            {% for software in softwares %}
                <tr>
                    <td>
                        <a href="{{ path('cadastro_software_show', {'id': software.software.id }) }}"
                           class="btn btn-{{ button_color }} btn-sm"
                           title="Ir para equipamento">
                            <i class="ti ti-search"></i>
                        </a>
                    </td>
                    <th>
                        {{ software.software.tiposoftware.descricao}}
                    </th>
                    <td>
                        {{ software.software }}
                    </td>
                </tr>
            {% endfor %}
        </table>


    </div>
    <!-- /.box-body -->
</div>

<div class="card">
    <div class="card-status-top bg-purple"></div>
    <div class="card-header">
        <h3 class="card-title">Acompanhamentos</h3>
    </div>

    <!-- /.box-header -->
    <div class="card-body">


        <table class="table table-hover table-striped">
            {% for acompanhamento in acompanhamentos %}
                <tr>
                    <td>
                        <a href="{{ path('cadastro_acompanhamento_show', {'id': acompanhamento.id }) }}"
                           class="btn btn-{{ button_color }} btn-sm"
                           title="Ir para equipamento">
                            <i class="ti ti-search"></i>
                        </a>
                    </td>
                    <th>
                        {{ acompanhamento.datahora|date('d-m-Y H:i:s') }}
                    </th>
                    <td>
                        {{ acompanhamento.tipoacompanhamento.nome }}
                    </td>
                </tr>
            {% endfor %}
        </table>


    </div>
    <!-- /.box-body -->
</div>

<div class="card">
    <div class="card-status-top bg-purple"></div>
    <div class="card-header">
        <h3 class="card-title">Tags</h3>
    </div>
    <div class="card-body">


        <table class="table table-hover table-striped">
            {% for tag in tags %}
                <tr>
                    <th>
                        {{ tag.descricao }}
                    </th>
                    <td>
                        {{ tag.nome }}
                    </td>
                </tr>
            {% endfor %}
        </table>


    </div>
    <!-- /.box-body -->
</div>

<!-- END timeline item -->


