{% extends 'base/main.html.twig' %}


{% block page_title %}

        <section class="content-header">
            <h1>
                Tipo de acompanhamento
                <small>Mostrar</small>
            </h1>
        </section>

    {% endblock %}

{% block first_row %}

        <div class="row">

            <div class="col-md-2 col-sm-3 col-xs-3">

                <a href="{{ path('cadastro_tipoacompanhamento_index') }}" class="btn btn-{{ button_color }}">
                    <span class="ti ti-arrow-left"></span>
                </a>

            </div>
            <div class="col-md-2 col-sm-3 col-xs-3">

                <a href="{{ path('cadastro_tipoacompanhamento_edit', { 'id': tipoacompanhamento.id }) }}" class="btn btn-{{ button_color }}">
                    <span class="ti ti-edit"></span>
                </a>

            </div>
        </div>
    {% endblock %}


{% block card_body %}
    
        <div class="row">

        {% for message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <div class="d-flex">
                    <div>
                        <i class="ti ti-alert-icon"></i>
                    </div>
                    <div>
                        {{ message }}.
                    </div>
                </div>
                <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
        {% endfor %}

    </div>


        <div class="table table-responsive">
        <table class="table table-bordered table-condensed table-hover table-striped table-datatable">
                <tbody>
                <tr>
                    <th>Nome</th>
                    <td>{{ tipoacompanhamento.nome }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    {% endblock %}
