<div class="card">

    <div class="card-heading">
        <strong>Equipamentos atrelados</strong>
    </div>

    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-bordered table-condensed table-datatable">
                <thead>
                <tr>
                    <th>Ação</th>
                    <th>Nome</th>
                    <th>Nº Série</th>
                    <th>Centro de Movimentação</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for equipamento in equipamentoHasSoftware %}

                    <tr>
                        <td>
                            <a href="{{ path('cadastro_equipamento_show', {'id': equipamento.equipamento.id }) }}"
                            class="btn btn-{{ button_color }}" title="Ir para Movimentação">
                            <span class="ti ti-search"></span>
                            </a>
                        </td>

                        <td>{{ equipamento.equipamento.nome }}</td>
                        <td>{{ equipamento.equipamento.numeroserie }} </td>
                        <td>{{ equipamento.equipamento.centroMovimentacao.nome }} </td>
                        <td>
                            {% if equipamento.equipamento.status == 1 %}
                                Ativo
                            {% else %}
                                Inativo
                            {% endif %}
                        </td>

                    </tr>

                {% endfor %}

                </tbody>
            </table>

        </div>

    </div>

</div>
