{# {% extends 'template/template.html.twig' %} #}

{% extends "base/main.html.twig" %}


{% block page_title %}

    <section class="content-header">
        <h1>
            Endereço IP
            <small>Mostrar</small>
        </h1>
    </section>

{% endblock %}

{% block first_row %}




    <div class="row">

        <div class="col-md-2 col-sm-3 col-xs-3">

            <a href="{{ path('cadastro_enderecoip_index') }}" class="btn btn-{{ button_color }}">
                <span class="ti ti-arrow-big-left"></span>
            </a>

        </div>
        <div class="col-md-2 col-sm-3 col-xs-3">

            <a href="{{ path('cadastro_enderecoip_edit', { 'id': enderecoIp.id }) }}" class="btn btn-{{ button_color }}">
                <span class="ti ti-edit"></span>
            </a>

        </div>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="col-md-2 col-sm-3 col-xs-3">
                <a href="{{ path('dh_auditor_show_entity_history', { 'entity': 'App-Entity-EnderecoIp', id : enderecoIp.id }) }}"  target="_blank" class="btn btn-{{ button_color }}">
                    <span class="ti ti-file-search"></span>
                </a>

            </div>
        {% endif %}        

        <div class="col-md-2 col-sm-3 col-xs-3">
            {#{{ form_start(delete_form) }}#}
            {#<button type="submit" class="btn btn-danger btn-sm remover-form">#}
            {#<span class="glyphicon glyphicon-trash"></span>#}
            {#Deletar#}
            {#</button>#}
            {#{{ form_end(delete_form) }}#}

        </div>
    </div>
{% endblock %}


{% block card_body %}

    <div class="row">

        {% for message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <div class="d-flex">
                    <div>
                        <i class="ti ti-alert-icon"></i>
                    </div>
                    <div>
                        {{ message }}.
                    </div>
                </div>
                <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
        {% endfor %}

    </div>

    <div class="table table-responsive">
        <table class="table table-hover table-striped">
            <tbody>
                <tr>
                    <th>Endereço IP</th>
                    <td>{{ enderecoIp.enderecoIp }}</td>
                </tr>
                <tr>
                    <th>Host Name</th>
                    <td>{{ enderecoIp.nome }}</td>
                </tr>
                <tr>
                    <th>Observação</th>
                    <td>{{ enderecoIp.observacao }}</td>
                </tr>
                <tr>
                    <th>Tipo de Acesso</th>
                    <td>{{ enderecoIp.tipoAcessoIp }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ enderecoIp.status }}</td>
                </tr>
                <tr>
                    <th>Unidade</th>
                    <td>{{ enderecoIp.unidade }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card">
        <div class="card-body">
            {% if ping %}

                <pre>
                    {{ ping }}
                </pre>
            {% else %}
                {# to do #}
            {% endif %}

        </div>
    </div>

{% endblock %}

