<div class="card">

    <div class="card-header">
        <strong>Itens da Movimentação</strong>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped table-datatable">
                <thead>
                    <tr>
                        <th>Ações</th>
                        <th>Patrimônio/Nome</th>
                        <th>Numerochamado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for itensMovimentacao in itensMovimentacaos %}
                        <tr>
                            <td>
                                {% if movimentacao.status %}
                                    <a href="{{ path('cadastro_equipamento_show', { 'id': itensMovimentacao.equipamento.id }) }}"
                                       class="btn btn-{{ button_color }}">
                                        <span class="ti ti-search"></span>
                                    </a>
                                {% else %}
                                    <a href="{{ path('cadastro_itensmovimentacao_edit', { 'id': itensMovimentacao.id }) }}"
                                       class="btn btn-{{ button_color }}">
                                        <span class="ti ti-edit"></span>
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ itensMovimentacao.equipamento.patrimonio }}| {{ itensMovimentacao.equipamento.nome }}</td>
                            <td>{{ itensMovimentacao.numeroChamado }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>